// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
.input-baania {
  background: #ffffff;
  border: 1px solid #8d9196;
  border-radius: 4px;
  width: 100%;
  height: 53px;
  padding: 15px;
}

.btn-baania-primary {
  background: #3C64B1;
  border-radius: 4px;
  height: 53px;
  padding: 15px;
  width: 100%;
}

.btn-baania-create {
  background: #22BB66;
  border-radius: 4px;
  height: 53px;
  padding: 15px;
  width: 100%;
}

.btn-baania-create-form {
  background: #22BB66;
  border-radius: 4px;
  height: 45px;
  width: 164px;
}

.btn-baania-update-form {
  background: #F6A623;
  border-radius: 4px;
  height: 45px;
  width: 164px;
}

.btn-baania-cancel-form {
  color: #C0C5CE;
  border: 1px solid #C0C5CE;
  border-radius: 4px;
  height: 45px;
  width: 164px;
}

.btn-action-detail {
  background: #FFF7E6;
  border-radius: 20px;
  height: 38px;
  min-width: 130;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 14px;
  color: #FF9900 !important;

}

.btn-action-delete {
  background: #FDF4F7;
  border-radius: 20px;
  height: 38px;
  min-width: 130;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 14px;
  color: #B93E5C !important;
}

.text-white {
  color: #fff !important;
}

.text-bold {
  font-weight: bold;
}

.flex-middle {
  display: flex;
  align-items: center;
}

.d-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.select-arrow {
  -webkit-appearance: auto !important;
}

.text-center {
  text-align: center;
}

.title-baania {
  font-weight: 500;
  font-size: 24px;
}

.d-flex-between-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-col-center-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.alert-title {
  font-weight: 700;
  font-size: 24px;
  color: #8D9196;
}

.alert-sub-title {
  font-weight: 600;
  font-size: 14px;
  color: #8D9196;
}

.alert-success {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #22BB66;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
  }
}

.alert-fail {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #B93E5C;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
  }
}

.text-post-code-detail {

  font-weight: 600;
  font-size: 18px;
  line-height: 30px;

  color: #3C64B1;
}

.input-float {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px 10px;

  label {
    color: #8D9196;
    font-weight: 400;
    font-size: 12px;
    display: block;
  }

  input {
    font-weight: 400;
    font-size: 16px;
    display: block;
    border: none;
    width: 100%;
    padding: 2px 0px;
  }

  textarea {
    font-weight: 400;
    font-size: 16px;
    display: block;
    border: none;
    width: 100%;
    padding: 2px 0px;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }
}


.table-baania {
  width: 100%;
  border: 1px solid #E0E0E0;
  border-collapse: collapse;

  thead {
    tr {
      th {
        font-weight: 700;
        font-size: 18px;
        border: 1px solid #E0E0E0;
        padding: 26px;
      }
    }
  }

  tbody {
    tr {
      td {
        font-weight: 400;
        font-size: 16px;
        border: 1px solid #E0E0E0;
        padding: 26px;
      }
    }
  }
}

@for $i from 0 through 1000 {
  .fs-#{$i} {
    font-size: $i * 1px !important;
  }

  .m-rem-#{$i} {
    margin: $i * 0.25rem !important;
  }

  .mt-rem-#{$i} {
    margin-top: $i * 0.25rem !important;
  }

  .mb-rem-#{$i} {
    margin-bottom: $i * 0.25rem !important;
  }

  .mr-rem-#{$i} {
    margin-right: $i * 0.25rem !important;
  }

  .ml-rem-#{$i} {
    margin-left: $i * 0.25rem !important;
  }

  .p-rem-#{$i} {
    padding: $i * 0.25rem !important;
  }

  .pt-rem-#{$i} {
    padding-top: $i * 0.25rem !important;
  }

  .pb-rem-#{$i} {
    padding-bottom: $i * 0.25rem !important;
  }

  .pr-rem-#{$i} {
    padding-right: $i * 0.25rem !important;
  }

  .pl-rem-#{$i} {
    padding-left: $i * 0.25rem !important;
  }

  .br-rem-#{$i} {
    border-radius: $i * 0.25rem !important;
  }

  .brt-rem-#{$i} {
    padding-top: $i * 0.25rem !important;
  }

  .brb-rem-#{$i} {
    padding-bottom: $i * 0.25rem !important;
  }

  .brr-rem-#{$i} {
    padding-right: $i * 0.25rem !important;
  }

  .brl-rem-#{$i} {
    padding-left: $i * 0.25rem !important;
  }

  .wp-#{$i} {
    width: $i * 1% !important;
  }

  .w-#{$i} {
    width: $i * 1px !important;
  }

  .h-#{$i} {
    height: $i * 1px !important;
  }

  .min-h-#{$i} {
    min-height: $i * 1px !important;
  }

  .max-h-#{$i} {
    max-height: $i * 1px !important;
  }

  .min-w-#{$i} {
    min-width: $i * 1px !important;
  }

  .max-w-#{$i} {
    max-width: $i * 1px !important;
  }

  .min-wp-#{$i} {
    min-width: $i * 1% !important;
  }

  .max-wp-#{$i} {
    max-width: $i * 1% !important;
  }
}
