<template>
  <div>
    <div class="header-bg">
      <v-container>
        <v-row>
          <v-col
            cols="12"
            sm="5"
          >
            <label class="text-bold">URL</label>
            <input
              class="form-control input-baania"
              placeholder="http://localhost"
              v-model="url"
            >
          </v-col>
          <v-col
            cols="12"
            sm="5"
          >
            <label class="text-bold">PORT</label>
            <input
              class="form-control input-baania"
              placeholder="8000"
              v-model="port"
            >
          </v-col>
          <v-col
            cols="6"
            sm="2"
          >
            <label>&nbsp;</label>
            <button
              class="btn-baania-primary text-white"
              @click="setConnect()"
            > CONNECT </button>
          </v-col>
        </v-row>
      </v-container>
    </div>

    <v-container>
      <div class="pt-rem-6">
        <v-row>
          <v-col
            cols="12"
            md="10"
            class="flex-middle"
          >
            <div class="title-baania">HOUSE LIST</div>
          </v-col>
          <v-col
            cols="12"
            md="2"
          >
            <button
              type="button"
              class="btn-baania-create text-white"
              @click="createForm()"
            >CREATE</button>
          </v-col>
        </v-row>
        <table class="table-baania mt-rem-8">
          <thead>
            <tr>
              <th class="text-center wp-10">ID</th>
              <th class="text-center wp-20">Name</th>
              <th class="text-center wp-20">Post Code</th>
              <th class="text-center wp-20">Price</th>
              <th class="text-center wp-30">Action</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(item,i) in items">
              <tr :key="`table-list-${i}`">
                <td class="text-center">{{ item.id }}</td>
                <td class="text-center">{{ item.name }}</td>
                <td class="text-center">{{ item.post_code }}</td>
                <td class="text-center">{{ item.price }}</td>
                <td class="text-center">
                  <button
                    type="button"
                    class="btn-action-detail"
                    @click="viewDetail(item)"
                  >VIEW DETAIL</button>
                  <button
                    type="button"
                    class="btn-action-delete"
                    @click="deleteItem(item.id)"
                  >DELETE</button>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
        <div class="d-flex-end mt-rem-4">
          <div>
            Rows per page:
            <select
              v-model="take"
              class="ml-rem-1 mr-rem-3 select-arrow"
              @change="getItems()"
            >
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
            {{ `${ (1 + ((skip-1) * take)) } - ${ (take * skip > count ? count : take * skip)  } of ${count}` }}
            <i
              class="fas fa-chevron-left ml-rem-3 mr-rem-5 pointer"
              v-if="skip > 1 && count > skip"
              @click="prev()"
            ></i>
            <i
              class="fas fa-chevron-right ml-rem-5 pointer"
              v-if="(take * skip) < count"
              @click="next()"
            ></i>
          </div>
        </div>
      </div>

      <div class="footer-bg mt-rem-16">
        <v-row>
          <v-col
            cols="12"
            offset-sm="3"
            sm="6"
          >
            <div class="form-floating wp-100 min-w-405 min-h-53  mt-rem-8">
              <select
                class="form-select"
                id="floatingSelect"
                aria-label="Floating label select example"
                v-model="postCode"
                @change="getPostCodeDetail()"
              >
                <option value="">SELECT POST CODE</option>
                <template v-for="(item,i) in postCodeList">
                  <option
                    :key="`postCode-Option-${i}`"
                    :value="item.post_code"
                  >{{ item.post_code }}</option>
                </template>
              </select>
              <label for="floatingSelect">SELECT POST CODE</label>
            </div>
            <div
              v-if="postCodeDetail"
              class="text-post-code-detail mt-rem-4"
            >
              {{ `Average : ${postCodeDetail.average}` }}
              <br>
              {{ `Median : ${postCodeDetail.median}` }}
            </div>
          </v-col>
        </v-row>
      </div>
    </v-container>

    <v-dialog
      v-model="dialog"
      persistent
      width="700"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">{{ modalTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="12"
                sm="6"
              >
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Name"
                    v-model="form.name"
                  >
                  <label for="floatingInput">Name</label>
                </div>
              </v-col>
              <v-col
                cols="6"
                sm="3"
              >
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Post Code"
                    v-model="form.postCode"
                    maxlength="5"
                  >
                  <label for="floatingInput">Post Code</label>
                </div>
              </v-col>
              <v-col
                cols="6"
                sm="3"
              >
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Price"
                    v-model="form.price"
                    maxlength="5"
                  >
                  <label for="floatingInput">Price</label>
                </div>
              </v-col>
              <v-col
                cols="12"
                sm="12"
              >
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Description"
                    id="floatingTextarea2"
                    v-model="form.description"
                    style="height: 100px"
                  ></textarea>
                  <label for="floatingTextarea2">Description</label>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions class="flex-center pb-rem-8">
          <button
            type="button"
            class="btn-baania-cancel-form mr-rem-4"
            @click="dialog = false"
          >CANCEL</button>
          <button
            v-if="!form.id"
            type="button"
            class="btn-baania-create-form text-white"
            @click="createData()"
          >CREATE</button>
          <button
            v-if="form.id"
            type="button"
            class="btn-baania-update-form text-white"
            @click="updateData()"
          >UPDATE</button>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog Success -->
    <v-dialog
      v-model="success"
      persistent
      width="331"
    >
      <v-card class="">
        <v-card-text class="d-flex-col-center-middle min-h-300">
          <div class="alert-success mt-rem-4">
            <i class="fas fa-check"></i>
          </div>
          <div class="alert-title mt-rem-4">Success</div>
          <div class="alert-sub-title mt-rem-2">Create a Successful!</div>
          <button
            type="button"
            class="btn-baania-cancel-form mt-rem-4"
            @click="success = false"
          >CONTINUE</button>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- Dialog Fail -->
    <v-dialog
      v-model="fail"
      persistent
      width="331"
    >
      <v-card class="">
        <v-card-text class="d-flex-col-center-middle min-h-300">
          <div class="alert-fail mt-rem-4">
            <i class="fas fa-times"></i>
          </div>
          <div class="alert-title mt-rem-4">Fail</div>
          <div class="alert-sub-title mt-rem-2">Let’s try one more again</div>
          <button
            type="button"
            class="btn-baania-cancel-form mt-rem-4"
            @click="fail = false"
          >TRY AGAIN</button>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      url: ``,
      port: ``,
      endpoint: ``,
      items: [],
      count: `0`,
      skip: 1,
      take: 5,
      dialog: false,
      form: {
        id: ``,
        name: ``,
        postCode: ``,
        price: ``,
        description: ``
      },
      modalTitle: ``,
      success: false,
      fail: false,
      postCode: '',
      postCodeList: '',
      postCodeDetail: null
    }
  },
  mounted () {

  },
  methods: {
    async getPostCodeDetail () {
      this.postCodeDetail = null
      await this.$axios
        .$get(`${this.endpoint}/postCode/${this.postCode}`)
        .then(response => {
          this.postCodeDetail = response.payload
        })
        .catch(error => {
          this.fail = true
        })
        .finally(() => {
        })
    },
    async getPostCode () {
      await this.$axios
        .$get(`${this.endpoint}/postCode`)
        .then(response => {
          this.postCodeList = response.payload
        })
        .catch(error => {
          this.fail = true
        })
        .finally(() => {
        })
    },
    async getItems () {
      await this.$axios
        .$get(`${this.endpoint}/home`, {
          params: {
            skip: (this.skip - 1) * this.take,
            take: this.take
          }
        })
        .then(response => {
          this.items = response.payload
          this.count = response.count
        })
        .catch(error => {
          this.fail = true
        })
        .finally(() => {
        })
    },
    async deleteItem (id) {
      await this.$axios
        .$delete(`${this.endpoint}/home/${id}`)
        .then(response => {
          if (response.count > 0) {
            this.success = true
          }
        })
        .catch(error => {
          this.fail = true
        })
        .finally(() => {
          this.getItems()
        })
    },
    async setConnect () {
      this.endpoint = this.url + this.port
      await this.getItems()
      await this.getPostCode()
    },
    async prev () {
      this.skip--
      await this.getItems()
    },
    async next () {
      this.skip++
      await this.getItems()
    },
    createForm () {
      this.form = {
        id: ``,
        name: ``,
        postCode: ``,
        price: ``,
        description: ``
      }
      this.modalTitle = 'Create'
      this.dialog = true
    },
    viewDetail (item) {
      this.form = {
        id: item.id,
        name: item.name,
        postCode: item.post_code,
        price: item.price,
        description: item.desc
      }
      this.modalTitle = `Item Detail - ${item.id}`
      this.dialog = true
    },
    async createData () {
      await this.$axios
        .$post(`${this.endpoint}/home`, {
          name: this.form.name,
          price: parseInt(this.form.price),
          desc: this.form.description,
          post_code: this.form.postCode
        })
        .then(response => {
          if (response.rowCount > 0) {
            this.success = true
            this.dialog = false
          }
        })
        .catch(error => {
          this.fail = true
        })
        .finally(() => {
          this.getItems()
        })
    },
    async updateData () {
      await this.$axios
        .$patch(`${this.endpoint}/home/${this.form.id}`, {
          id: this.form.id,
          name: this.form.name,
          price: parseInt(this.form.price),
          desc: this.form.description,
          post_code: this.form.postCode
        })
        .then(response => {
          if (response.count > 0) {
            this.success = true
            this.dialog = false
          }
        })
        .catch(error => {
          this.fail = true
        })
        .finally(() => {
          this.getItems()
        })
    }
  },
}
</script>

<style scoped>
.header-bg {
  background: #f4f7fc;
  width: 100%;
  padding: 64px 0px 26px 0px;
}
.footer-bg {
  background: #f4f7fc;
  width: 100%;
  min-height: 235px;
  margin-bottom: 64px;
}
</style>
